<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SoundStage: Checkout</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="/Codigos/BOSSES/Proyecto Integrador/grupo9dh/public/css/checkout.css"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/89c6f41bba.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap -->

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo" class="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Shows cerca tuyo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Artistas del momento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Último momento</a>
              </li>
              <li class="nav-item">
                <div class="input-group">
                  <input type="search" class="form-control" placeholder="Buscá por artista, lugar o fecha" aria-label="Search">
                  <button class="btn btn-outline-light" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </li>
              <li class="nav-item">
                  <i class="fa-solid fa-compact-disc fa-2x" style="color:  #93278F;"></i>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    </header>

    <main>
      <div class="container">
        <div class="row justify-content-start">
          <!-- Informacion -->
          <div class="col-md-6">
            <div class="card">
              <div class="card text-bg-dark">
                <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Resumen de compra</h5>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>
                  <p class="card-text"> Item </p>

                </div>
              </div>
            </div>
          </div>

          <!-- Acordion -->
          <form class="col-md-6" action="">
            <div class="row row-cols-1">
              <div class="accordion accordion-flush" id="accordionFlush">
                <!-- Acordion Item 1 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      Datos de contacto
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Nombre</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Apellido</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Numero de telefono</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="email"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">E-mail</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Acordion Item 2 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      Datos de entrega
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Direccion (Linea 1)</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Direccion (Linea 2)</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                        />
                        <label for="floatingInput">Pais</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Ciudad</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Codigo Postal</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Informacion adicional</label>
                      </div>

                      <p style="margin-top: 10px">
                        Los datos de facturacion son los mismos que la entrega.
                        <input type="checkbox" />
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Acordion Item 3 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      Datos de pago
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput"
                          >Numero de tarjeta
                          <i class="fa-brands fa-cc-visa"></i>
                          <i class="fa-brands fa-cc-mastercard"></i>
                          <i class="fa-brands fa-cc-amex"></i>
                        </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput"
                          >Nombre y apellido del titular</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">CVV/CVC</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Expira en: MM/YY</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button
                class="btn btn-outline-dark"
                type="submit"
                style="margin-top: 10px"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
