<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/6d376e5dff.js" crossorigin="anonymous"></script>
    <title>SoundStage</title>
</head>
<body>
    <header>
        <nav>
            <div class="navBar">
                <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo" class="logo"> <a href="/"></a> </img>
                <p>Shows cerca tuyo</p>
                <p>Artistas del momento</p>
                <p>Último momento</p>
                <div class="buscador"><input type="search" name="searchbox" id="search" value="Buscá por artista, lugar o fecha"><div class="cajaI"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div></div>
                <i class="fa-solid fa-compact-disc fa-2xl" style="color:  #93278F;"><a href="/login"></a></i>
            </div>
        </nav>
        <section>
            <div class="contenidoHero">
                <div class="textHero">
                    <h1>Descubre, agenda y disfruta: Tu música en un solo lugar</h1>
                    <button type="submit" class="buttonGradient">Conectá tu spotify</button>
                </div>
                <div class="recuadroHero">
                    <div class="textoImagen">
                        <p>Tu próximo show es en</p>
                        <h4>3 días</h4>
                    </div>
                    <img src="https://linsock.com.ar/soundstage/public/images/Rectangle_6.png" alt="proximoShow">
                </div>
            </div>
            <div class="imagenFondo">
                <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" alt="imagenFondo">
            </div>
        </section>

    </header>

    <main>
        <section class="porGenero">
            <button class="buttonGradient2">Recitales</button>
            <button class="buttonGradient2">Rock</button>
            <button class="buttonGradient2">Pop</button>
            <button class="buttonGradient2">Teatro</button>
            <button class="buttonGradient2">Internacionales</button>
        </section>
        <section class="showsUltimoMomento">
            <h2>Shows de último momento</h2>
            <div class="boxes">
                <p class="box">1</p>
                <p class="box">2</p>
                <p class="box">3</p>
                <p class="box">4</p>
                <p class="box">5</p>
                <p class="box">6</p>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Tus artistas favoritos</h2>
            <div class="boxes">
                <p class="box">1</p>
                <p class="box">2</p>
                <p class="box">3</p>
                <p class="box">4</p>
                <p class="box">5</p>
                <p class="box">6</p>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Artistas del momento</h2>
            <div class="boxes">
                <p class="box">1</p>
                <p class="box">2</p>
                <p class="box">3</p>
                <p class="box">4</p>
                <p class="box">5</p>
                <p class="box">6</p>
            </div>
        </section>


    </main>
    
</body>
</html>