<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <footer>

  </footer>
  <main>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <!-- Columna 1 -->
        </div>
        <div class="col-sm-4">

          <form action="">
            <div class="prueba">
              <div class="texto">Registrarse con:</div>
              <button type="button" class="btn btn-success"><i class="fa-brands fa-spotify fa-xl"></i> Spotify</button>
              <button type="button" class="btn btn-primary"><i class="fa-brands fa-microsoft fa-xl"></i>
                Outlook</button>
              <button type="button" class="btn btn-danger"><i class="fa-brands fa-google fa-xl"></i> Google</button>
              <button type="button" class="btn btn-secondary"><i class="fa-solid fa-envelope-open-text fa-xl"></i>
                Mail</button>
              <!-- 
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-light">Light</button>
              <button type="button" class="btn btn-dark">Dark</button>

              <button type="button" class="btn btn-link">Link</button> 
            -->
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <!-- Columna 3 -->
        </div>
      </div>
    </div>

  </main>
  <footer>

  </footer>
  <script src="https://kit.fontawesome.com/f8ff58bf54.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>