<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/6d376e5dff.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/register.css">
  <title>SoundStage</title>

</head>

<body>
  <header>
    <nav>
      <div class="navBar">
        <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo"
          class="logo"> <a href="/"></a> </img>
        <p>Shows cerca tuyo</p>
        <p>Artistas del momento</p>
        <p>Último momento</p>
        <div class="buscador"><input type="search" name="searchbox" id="search"
            value="Buscá por artista, lugar o fecha">
          <div class="cajaI"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div>
        </div>
        <i class="fa-solid fa-compact-disc fa-2xl" style="color:  #93278F;"><a href="/login"></a></i>
      </div>
    </nav>
    <section>
      <div class="contenidoHero">
        <div class="textHero">
          <h1>Descubre, agenda y disfruta: Tu música en un solo lugar</h1>
          <!-- <button type="submit" class="buttonGradient"><a href="/register"></a>Conectá tu spotify</button> -->
        </div>
        <div class="register">
          <div class="register-data"><input type="text" name="user" id="user" value="" placeholder="Usuario">
            <div class="cajaI"><i class="fa-solid fa-user" style="color: #ffffff;"></i></div>
          </div>
          <br>
          <div class="register-data"><input type="mail" name="mail" id="user" value="" placeholder="Mail">
            <div class="cajaI"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></div>
          </div>
          <br>
          <div class="register-data"><input type="text" name="name" id="name" value="" placeholder="Nombre">
            <div class="cajaI"><i class="fa-solid fa-signature" style="color: #ffffff;"></i></div>
          </div>
          <br>
          <div class="register-data"><input type="password" name="password" id="password" value=""
              placeholder="Contraseña">
            <div class="cajaI"><i class="fa-solid fa-key" style="color: #ffffff;"></i></div>
          </div>
          <button type="submit" class="buttonGradient"><a href="/register"></a>
            Ingresar
          </button>

        </div>
      </div>
      <div class="imagenFondo">
        <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" alt="imagenFondo">
      </div>
    </section>

  </header>
  <main>

  </main>

  <footer>

  </footer>
  <script src="https://kit.fontawesome.com/f8ff58bf54.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
</body>

</html>