.fa-solid.fa-compact-disc.fa-2x{
  margin-left: 3vw;
  margin-top: 0.5vh;
}

@media only screen and (max-width:1449px){
  .fa-solid.fa-compact-disc.fa-2x{
    margin-top: 2.5vh;
  }
  
.input-group{
    margin-top: 2vh;
  }

}

@media only screen and (max-width: 991px) {
  .fa-solid.fa-compact-disc.fa-2x {
    display: none;
  }
}


.nav-link{
  margin-right: 25px;
  color: white;
}

main{
  margin-top: 6vh;
  
}

body{
  background-color: aliceblue;
}

header{
  padding-top: 4vh;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  width: 90%;
  margin: auto;
  margin-top: 1.2vh;
  border-radius: 16px;
}

.accordion-button{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 15px;
}

.accordion-body{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

.accordion-button.collapsed{
background-color: whitesmoke;
}

.card {
    height: 600px;
    overflow-y: auto; 
  }
  .card::-webkit-scrollbar {
    width: 10px; 
  }
  
  .card::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 5px; 
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 10px; /
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background-color: rosybrown; 
  }

.card-title, .card-text{
z-index: 1;
color: aliceblue;
} 


