.card.text-bg-dark{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='68' height='61.151' patternTransform='scale(3) rotate(55)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(233,11.8%,13.3%,1)'/><path d='M113.548 50.575H90.454l-11.547-20 11.547-20h23.094l11.547 20zm-136 0h-23.095l-11.547-20 11.547-20h23.094l11.547 20zm119 30.576H73.452l-11.547-20 11.547-20h23.094l11.547 20zm-34 0H39.452l-11.547-20 11.547-20h23.094l11.547 20zm-34 0H5.452l-11.547-20 11.547-20h23.094l11.547 20zm-34.001 0h-23.094l-11.547-20 11.547-20h23.094l11.547 20zm61.906-30.576h23.094l11.547-20-11.547-20H56.453l-11.547 20zm-10.906 0H22.453l-11.547-20 11.547-20h23.094l11.547 20zm-34 0h-23.094l-11.547-20 11.547-20h23.094l11.547 20zm85-30.575H73.453L61.906 0l11.547-20h23.094l11.547 20zm-34 0H39.453L27.906 0l11.547-20h23.094L74.094 0zm-34 0H5.453L-6.094 0 5.453-20h23.094L40.094 0zm-34 0h-23.094L-40.094 0l11.547-20h23.094L6.094 0z'  stroke-width='2' stroke='hsla(221,36%,24.5%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.accordion-button.collapsed:hover{
background-color: #86A8E7;
}

.zora{
  display: flex;
  align-items: center;
  margin-left: 5.7vw;
}

.zora button.btn{
  border-radius: 100%;
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-outline-success {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border: none;
  width: 3vw;
  background: #9D50BB;  
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  
  background: linear-gradient(to right, #6E48AA, #9D50BB);   
  height: 6vh;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center; 
  color: whitesmoke;
}

.btn.btn-outline-success:hover{
  background: #7F7FD5; 
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
  color: black;
  border: solid black 1px;
}

.btn.btn-outline-success.daruk {
  margin-right: 10px; 
  margin-left: 10px; 
}

.col{
  padding-top: 2vh;
}

.image-info{
  width: 90px;
  height: 10vh;
  margin-right: 2vw;
  border-radius: 100%;
}

.image-text.a{
  margin-top: 3vh;
  font-weight: bold;
  }

.image-text.b{
  margin-left: 1vh;
  margin-top: 3vh;
    }

.image-text.c{
  margin-left: 1vh;
  margin-top: 3vh;
    }

@media screen and (max-width: 1200px) {
  .btn.btn-outline-success{
    width: 4vw;
  }
}

@media screen and (max-width: 1000px) {
  .custom-row {
    flex-direction: column;
  }
  .image-info{
    height: 10vh;
  }

}


@media screen and (max-width: 600px) {
  .image-info{
    height: 10vh;
  }
  .image-text{
    margin-top: 5vh;
    }
}
main{
  margin-top: 6vh;
  margin-bottom: 7.05vh;
}

body{
  background-color: aliceblue;
}



.card-items{
  display: flex;
}



.accordion-button{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 15px;
}

.accordion-body{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn.btn-outline-dark{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.btn.btn-outline-dark:hover{
  color: #345beb;
  border-color: #345beb;
}

.accordion-button.collapsed{
background-color: whitesmoke;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.card {
    height: 600px;
    overflow-y: auto; 
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
  }
  .card::-webkit-scrollbar {
    width: 10px; 
  }
  
  .card::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 5px; 
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 10px; /
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background-color: rosybrown; 
  }

.card-title, .card-text{
z-index: 1;
color: aliceblue;
} 


