.card.text-bg-dark{
  background-image: url("https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg");
  background-size: cover;
}


.zora{
  display: flex;
  align-items: center;
  margin-left: 5.7vw;
}

.btn.btn-outline-success {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  border: solid black 1px;
  border-radius: 10px;
  width: 3vw;
  background-color: #a98aff;
  height: 6vh;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center; 
  color: whitesmoke;
}



.btn.btn-outline-success.daruk {
  margin-right: 10px; 
  margin-left: 10px; 
}

.sidon{
  margin-bottom: 1.5vh;
  margin-right: 1vw;
  text-align: center; 
  font-size: large;
}

.maka {
  margin-top: 0.9vh;
  margin-right: 1vw;
  text-align: center; 
}

.aaaaaaaa{
color: aliceblue;
margin-left: 1vw;
margin-right: 1vw;
}

.col{
  padding-top: 2vh;
}

.image-info{
  width: 6vw;
  height: 6vh;
  margin-right: 2vw;
  margin-top: 2vh;
}

.image-text.a{
  margin-top: 3vh;
  font-weight: bold;
  }

.image-text.b{
  margin-left: 1vh;
  margin-top: 3vh;
    }

.image-text.c{
  margin-left: 1vh;
  margin-top: 3vh;
    }

@media screen and (max-width: 1200px) {
  .btn.btn-outline-success{
    width: 4vw;
  }
}

@media screen and (max-width: 1000px) {
  .custom-row {
    flex-direction: column;
  }
  .image-info{
    width: 10vw;
    height: 10vh;
  }
  .image-text{
    margin-top: 5vh;
    }
  .btn.btn-outline-success{
    margin-top: 2.5vh;
    }
}

@media screen and (max-width: 900px) {
  .btn.btn-outline-success{
    width: 5vw;
  }
}

@media screen and (max-width: 800px) {
  .btn.btn-outline-success{
    width: 7vw;
  }
}

@media screen and (max-width: 600px) {
  .image-info{
    width: 20vw;
    height: 10vh;
  }
  .image-text{
    margin-top: 5vh;
    }
}
main{
  margin-top: 6vh;
  margin-bottom: 7.05vh;
}

body{
  background-color: aliceblue;
}



.card-items{
  display: flex;
}



.accordion-button{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 15px;
}

.accordion-body{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn.btn-outline-dark{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.btn.btn-outline-dark:hover{
  color: #345beb;
  border-color: #345beb;
}

.accordion-button.collapsed{
background-color: whitesmoke;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.card {
    height: 600px;
    overflow-y: auto; 
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
  }
  .card::-webkit-scrollbar {
    width: 10px; 
  }
  
  .card::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 5px; 
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 10px; /
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background-color: rosybrown; 
  }

.card-title, .card-text{
z-index: 1;
color: aliceblue;
} 


