.card{
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  height: 670px;
  width: 400px;
}
.card-body{
  height: 200px;
}
.box{
  height: 600px;
  margin-top: 20px;
}
img{
  border-radius: 8px;
}
.container-sm{
    margin-top: 50px;
  }
  .list-group-item{
    text-align: center;
  }
  .logo{
    height: 70px;
    width: 120px;
  }
  .foto{
    height: 200px;
    width: 320px;
  }
  .miedo{
    display: flex;
  }
  .fechas{margin: 10px;}
  .descripcion{
    margin: 20px;
  }
  .boton{
    text-align: center;
    margin: 40px;
  }
  .card-body{
    text-align: center;
  }
  .card{
        margin: 0 auto;
  }