* {
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
}

.fa-solid.fa-compact-disc.fa-2x{
    margin-left: 3vw;
    margin-top: 0.3vh;
  }
  
  @media only screen and (max-width:1449px){
    .fa-solid.fa-compact-disc.fa-2x, .input-group{
      margin-top: 2vh;
    }
  
  }
  .nav-link{
    margin-right: 25px;
    color: white;
  }



.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    width: 90%;
    margin: 2vh auto;
    border-radius: 16px;
    position: absolute;
    z-index: 1;
    left: 5%;

  }



.imagenFondo {
    width: 100vw;
    position: relative;
}

.imagenFondo>img {
    width: 100vw;
}


.contenidoHero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    gap: 5vw;
    top: 10vw;
    right: 10vw;

}

.textHero {
    width: 45vw;
    text-shadow: black 0px 0px 10px;
    margin-top: 4vw;



}

.textHero>h1 {
    font-size: 60px;
    color: white;


}

.recuadroHero {
    width: 30vw;
    position: relative;
    top: 5vw;
}

.recuadroHero>img {
    width: 100%;
}

.textoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.textoImagen>p {
    color: #0075FF;
    text-align: center;
    font-size: 2.5vw;
    margin: 1%;
}

.textoImagen>h4 {
    color: white;
    text-align: center;
    font-size: 4.5vw;
    margin: 1%;
}

.buttonGradient {
    background-image: linear-gradient(to right, #93278F 0%, #0075FF 100%);
    color: white;
    height: 2.5vw;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.5vw;
    border-width: 0px;
    margin-top: 1.5vw;
}

.nav-item > a {
    padding: 0.5vw;

}



.buttonGradient:hover {
    background-position: right center;
}

.porGenero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
    margin-left: 8vw;
}

.buttonGradient2 {
    background-image: linear-gradient(to right, #1B1464 0%, #0075FF 100%);
    color: white;
    height: 2.5vw;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.5vw;
    border-width: 0px;
    margin-top: 1.5vw;
}

.showsUltimoMomento>h2 {
    margin-top: 4vw;
    margin-left: 8vw;
    font-size: 3vw;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vw;
    width: 90vw;
    margin-left: 8vw;
    align-items: center;


}

.box {
    width: 150px;
    height: 85px;
    font-size: 2vw;
    background-color: #2176B8;
    border-radius: 30px;
    text-align: center;
    padding-top: 65px;

}

.boxes > a {
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-top: 1.5vh;


}

.footer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 5vh;
    margin-top: 6vh;
    padding-right: 10%;
}



.footer1 {
    display: flex;
    flex-direction: column;
}

.footer1 > a {
    text-decoration: none;
    color: black;
}



.boxes img {
    border-radius: 20px;
}

.contenedor{
    width:150px;
    height:150px;
  }

.contenedor > img {
    object-fit: cover;
    width:100%;
    height:100%;
  }

