* {
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    width: 100vw;
}

.fa-solid.fa-compact-disc.fa-2x{
    margin-left: 3vw;
    margin-top: 0.4vh;
  }
  
  .nav-link{
    color: white;
    font-size: 1vw;
  }

  .input-group {
    width: 25vw;
    margin: auto 1vw;
    
  }

  .btn {
    background-color: #0075FF;
    border-width: 0;
    
  }

  .btn:hover {
    background-color: #93278F;
  }



  .navbar-brand > img {
    width: 14vw;
  }
  
  .fa-solid {
    margin: auto 1vw;
  }


.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    width: 90%;
    margin: 4vh auto;
    border-radius: 16px;
    position: absolute;
    z-index: 1;
    left: 5%;

  }

.nav-item {
    margin: auto 0.2vw;
    
} 

.imagenFondo {
    width: 100vw;
    position: relative;
}

.imagenFondo>img {
    width: 100vw;
}


.contenidoHero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    gap: 5vw;
    top: 10vw;
    right: 10vw;

}

.textHero {
    width: 45vw;
    text-shadow: black 0px 0px 10px;
    margin-top: 4vw;
}

.textHero>h1 {
    font-size: 4vw;
    color: white;


}

.recuadroHero {
    width: 30vw;
    position: relative;
    top: 5vw;
}

.recuadroHero>img {
    width: 100%;
}

.textoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.textoImagen>p {
    color: #0075FF;
    text-align: center;
    font-size: 2.5vw;
    margin: 1%;
}

.textoImagen>h4 {
    color: white;
    text-align: center;
    font-size: 4.5vw;
    margin: 1%;
}

.buttonGradient {
    background-image: linear-gradient(to right, #93278F 0%, #0075FF 100%);
    color: white;
    height: 2.5vw;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.5vw;
    border-width: 0px;
    margin-top: 1.5vw;
}

.nav-item > i {
    padding: 0.5vw;

}



.buttonGradient:hover {
    background-position: right center;
}

.porGenero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
    margin-left: 8vw;
}

.buttonGradient2 {
    background-image: linear-gradient(to right, #1B1464 0%, #0075FF 100%);
    color: white;
    height: 2.5vw;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.5vw;
    border-width: 0px;
    margin-top: 1.5vw;
}

.showsUltimoMomento>h2 {
    margin-top: 4vw;
    margin-left: 8vw;
    font-size: 3vw;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vw;
    width: 90vw;
    margin-left: 8vw;
    align-items: center;


}

.box {
    width: 150px;
    height: 85px;
    font-size: 2vw;
    background-color: #2176B8;
    border-radius: 30px;
    text-align: center;
    padding-top: 65px;

}

.boxes > a {
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-top: 1.5vh;


}

.footer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    align-items: space-arround;
    padding-left: 10%;
    padding-top: 5vh;
    margin-top: 6vh;
    padding-right: 10%;
    width: 100vw;
    padding-bottom: 6vh;
    gap: 2vw;
}

.fab { 
    width: 2vh;
    height: 2vh;
}

.footer1 {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.footer1 > a {
    text-decoration: none;
    color: black;
}



.boxes img {
    border-radius: 20px;
}

.contenedor{
    width:14vw;
    height:14vw;
  }

.contenedor > img {
    object-fit: cover;
    width:100%;
    height:100%;
  }


/* celu */
@media (max-width: 500px) {
    header {
        width: 100vw;
    }

    .imagenFondo {
        width: 100vw;
    }

    .imagenFondo > img {
        width: 100vw;
        object-fit: cover;
    }

    .porGenero {
        width: 90vw;
        margin-top: 2vw;
    }

    .buttonGradient2 {
        padding: 1vw 2vw;
        margin: auto;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark {
        width: 100%;
        position: absolute;
        z-index: 1;
        border-radius: 0%;
        left: 0%;
        top: 0%;
        margin:  auto;
        z-index: 3;
        
    
      }

      .nav-item {
        margin-top: 1vw;
      }

      .nav-link {
        font-size: 3vw;
      }

      .navbar-brand > img {
        width: 40vw;
      }

      .input-group {
        width: 80vw;
      }

      .contenidoHero {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        top: 18vw;
        right: 0vw;
        left: 1vw;
        width: 100vw;
    
    }
    
    .textHero {
        width: 80vw;
        text-shadow: black 0px 0px 10px;
        margin-top: 4vw;
    }

    .textHero > h1 {
        font-size: 6vw;
        text-shadow: black 0px 0px 10px;
    }

    li > a {
        display: inline-block;
        margin: 1vw;
    }

    .recuadroHero {
        width: 90vw;
        margin: auto;
        height: 10vh;
       
    }

    .recuadroHero > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
        border-radius: 30px;
    }

    main {
        margin-top: 13vh;
    }

    .porGenero {
        width: 90vw;
        gap: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
   
    }

    .buttonGradient2 {
        font-size: 4vw;
        margin: auto 2vw;
        height: 4vh;
        
    }

    .showsUltimoMomento > h2 {
        font-size: 6vw;
    }

    .textoImagen {
        width: 100%;
    }

    .textoImagen > p {
        font-size: 4.5vw;
    }

    .textoImagen > h4 {
        font-size: 6vw;
    }

    .boxes {
        width: 85vw;
        flex-wrap: wrap;
        
    }

    .boxes > a {
        font-size: 4vw;
        
    }

    .contenedor{
        width:25vw;
        height:25vw;
      }
    
    .contenedor > img {
        object-fit: cover;
        width:100%;
        height:100%;
      }

      .footer {
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        
      }

      .footer1 {
        width:90vw;
      }

      .footer2 {
        width: 90vw;
        gap: 1vw;
        flex-direction: row;
        justify-content: flex-start;
        
      .fab {
        margin: auto;
      }

      .btn {
        margin: auto;
      }

    

}

@media (min-width: 500px) and (max-width: 768px) {
    /* Styles specific to tablets with a width between 500px and 768px */

    body {
        width: 100vw;
        margin: 0;
        padding: 0;

    }
   
    .navbar.navbar-expand-lg.navbar-dark.bg-dark {
        width: 100%;
        position: absolute;
        border-radius: 0%;
        left: 0%;
        top: 0%;
        margin:  auto;
        z-index: 3;
        
    
      }

      .nav-item {
        margin-top: 1vw;
      }

      header {
        width: 100vw;
    }

    .imagenFondo {
        width: 100vw;
    }

    .imagenFondo > img {
        width: 100vw;
        object-fit: cover;
    }



    .nav-link {
        font-size: 3vw;
      }

      .navbar-brand > img {
        width: 30vw;
      }

      .input-group {
        width: 80vw;
      }

      .contenidoHero {
        gap: 3vw;
        top: 14vw;
        right: 0vw;
        left: 1vw;
        width: 100vw;
    
    }

    .showsUltimoMomento > h2 {
        font-size: 6vw;
    }

    .porGenero {
        width: 90vw;
        gap: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 2vh;

   
    }

    .buttonGradient2 {
        font-size: 2vw;
        margin: auto 2vw;
        height: 2vh;
        
    }


    .boxes {
        width: 85vw;
        flex-wrap: wrap;
        
    }

    .boxes > a {
        font-size: 4vw;
        
    }
}