/* header */

header{
    padding-top: 4vh;
  }

.btn.btn-dark, .btn.btn-dark.dropdown-toggle.dropdown-toggle-split{
  padding: 5px;
}

.btn.btn-dark{
  margin-left: 1vw;
}


  .dropdown-menu {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 2px 8px 0px;
    max-height: 60vh;
    max-width: 25vw;
    overflow-y: auto; 
    overflow-x: auto;
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 10px; 
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 5px; 
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 10px; /
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: rosybrown; 
  }
  
  .list-item.kkk{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
  }
  
  .list-item.qvc{
    display: flex;
    justify-content: space-between;
  }
  
  .btn-info:hover{
    background-color: lightskyblue;
  }

  .subtotal, .precio{
    margin-top: 1.2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
  }
  .precio {
    order: 1;
  }

  .navbar.navbar-expand-xl.navbar-dark.bg-dark{
    width: 90%;
    margin: auto;
    margin-top: 1.2vh;
    border-radius: 16px;
  }

  .sidon{
    text-align: center; 
    font-size: large;
    color: black;
  }

  .sidon:hover{
    color: gray;
    transition: 200ms;
  }

  .fa-regular.fa-circle-xmark{
    margin-bottom: 1.5vh;
  }

  .daru{
    border: solid black 1px;
  }
  
  .maka {
    margin-top: 0.9vh;
    margin-right: 1vw;
    text-align: center; 
    max-width: 15vw;
    word-wrap: break-word;
  }

  .nav-link{
    margin-right: 25px;
    color: white;
  }

  .list-item {
    display: flex;
    align-items: center; 
    margin-bottom: 0.8vh; 
  }
  
  .list-item img {
    margin: 10px; 
    width: 5vw;
    height: 7vh;
  }

  .nav-item.abc{
    display: none;
  }

  @media only screen and (max-width: 1200px) {
    .fa-solid.fa-compact-disc.fa-2x, .fa-solid.fa-cart-shopping.fa-2x, .nav-item.nnn {
      display: none;
    }
    .nav-item.abc{
      display: block;
    }
  
    .nav-link{
      text-align: center;
    }
  
    .container.aaa{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .navbar-brand {
      display: flex;
      align-items: center;
    }
    
    .logo-h {
      max-height: 100px; 
      margin-right: 10px; 
    }
  }

@media only screen and (max-width: 400px){
  .logo-h {
    margin-right: 0px;
    margin-left: 25px;
  }
}

/* footer */
.aaaaaaaa{
  color: aliceblue;
  margin-left: 1vw;
  margin-right: 1vw;
  }

.aaaaaaaa:hover{
  color: grey;
  transition: 200ms;
  }

@media screen and (max-width: 1000px) {
.custom-row {
      flex-direction: column-reverse;
    }  
  }
.custom-row > .col {
    padding-top: 2vh;
  }
  
.tengosed{
    display: flex;
    flex-direction: column;
  }