<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SoundStage: Checkout</title>
    <%- include("partials/head",{ styles: ["checkout", "partials"] }) %>
  </head>

  <body>
    <%- include("partials/header") %>

    <main>
      <div class="container">
        <div class="row justify-content-start">
          <!-- Informacion -->
          <div class="col-md-6">
            <div class="card">
              <div class="card text-bg-dark">
                <div class="card-img-overlay">
                  <h5 class="card-title">Resumen de compra</h5>
                  <hr style="width: 6vw;">
                  <h6 class="card-subtitle-mb-2 text-body-light"> Subtotal: </h6>
                  <hr style="color: white">
                  <% for( let index = 0; index < 9; index++ ) { %>
                  <div class="card-items">
                    <img
                      class="image-info"
                      src="https://picsum.photos/400/300"
                      alt="asd"
                    />
                    <p class="image-text a">Producto:</p>
                    <p class="image-text b">1x</p>
                    <p class="image-text c">Precio</p>
                    <div class="zora">
                      <button class="btn btn-outline-success mipha" type="button">
                        <i class="fas fa-plus"></i>
                      </button>
                      <button class="btn btn-outline-success daruk" type="button">
                        <i class="fas fa-times"></i>
                      </button>
                      <button class="btn btn-outline-success tulin" type="button">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <hr style="color: white">
                  <% } %>

                </div>
              </div>
            </div>
          </div>

          <!-- Acordion -->
          <form class="col-md-6" action="">
            <div class="row row-cols-1">
              <div class="accordion accordion-flush" id="accordionFlush">
                <!-- Acordion Item 1 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      Datos de contacto
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Nombre y Apellido</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Numero de telefono</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="email"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">E-mail</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="email"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">DNI</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Acordion Item 2 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      Datos de facturacion
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Direccion</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                        />
                        <label for="floatingInput">Pais</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Ciudad</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Codigo Postal</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Acordion Item 3 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      Datos de pago
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlush"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput"
                          >Numero de tarjeta
                          <i class="fa-brands fa-cc-visa"></i>
                          <i class="fa-brands fa-cc-mastercard"></i>
                          <i class="fa-brands fa-cc-amex"></i>
                        </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput"
                          >Nombre y apellido del titular</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">CVV/CVC</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control"
                          id="floatingInput"
                          placeholder="a"
                          required
                        />
                        <label for="floatingInput">Expira en: MM/YY</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button
                class="btn btn-outline-dark"
                type="submit"
                style="margin-top: 10px"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include("partials/footer") %>
    <%- include("partials/globalScripts") %>
  </body>
</html>
