<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head", { styles: ["partials", "formConcierto"] }) %>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/formConcierto.css">
    <title>Vendé tu concierto</title>
</head>

<body>
  <header class="header">
    <%- include("partials/header") %>
  </header>

  <main>
    <h1 class="tituloCreateConcert">Todos los conciertos en un solo lugar</h1>

    <div class="errores">
      <ul>

      </ul>
    </div>

    <form class="formulario" action="/conciertos/create" method="post" enctype="multipart/form-data">
      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Artista</label>
        <input type="text" name="artista" class="form-control" id="artista">
      </div>
      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Nombre del concierto</label>
        <input type="text" name="title" class="form-control" id="title">
      </div>

      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Genero</label>
        <select class="form-select" name="provincia" aria-label="Default select example" id="genero">
          <option selected>Elegi un genero</option>
          <option value="1">Rock</option>
          <option value="2">Pop</option>
          <option value="3">Reggaeton</option>
          <option value="4">Punk Rock</option> 
        
        </select>
      </div>
     
      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Género</label>
        <input type="date" name="date" class="form-control" id="date">
      </div>

      <div class="col-md-4 botonInd direccion">
        <label for="validationCustom01" class="form-label">Dirección</label>
        <input type="text" name="direccion" class="form-control" id="direccion">
      </div>

      
      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Provincia</label>
        <select class="form-select" name="provincia" aria-label="Default select example" id="provincia">
          <option selected>Elegi la Ciudad</option>
          <option value="Ciudad Autonoma de Buenos Aires">Ciudad Autonoma de Buenos Aires</option>
          <option value="La Plata">La Plata</option>
          <option value="Rosario">Santa Fe</option>
          <option value="Cordoba">Cordoba</option>
        </select>
      </div>

      <div class="col-md-4 botonInd">
        <label for="validationCustom01" class="form-label">Ciudad</label>
        <input type="text" name="ciudad" class="form-control" id="ciudad">
      </div>

      <div class="col-md-4 botonInd">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Subir poster del Show</label>
        <div class="cargarImagen">
          <input type="file" name="image" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
        </div>
      </div>
      <button type="submit" class="buttonGradient btn btn-primary">Cargar</button>
    </form>


  </main>

  <footer>
    <%- include("partials/footer") %>
    
  </footer>

  <script src="/javascript/crearConcierto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>

</html>