<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/6d376e5dff.js" crossorigin="anonymous"></script>
    <title>SoundStage</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo" class="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Shows cerca tuyo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Artistas del momento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Último momento</a>
                  </li>
                  <li class="nav-item">
                    <div class="input-group">
                      <input type="search" class="form-control" placeholder="Buscá por artista, lugar o fecha" aria-label="Search">
                      <button class="btn btn-outline-light" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                    </div>
                  </li>
                  <li class="nav-item">
                      <a href="/login"><i class="fa-solid fa-compact-disc fa-lg" style="color:  #93278F;"></i></a>
                  </li>
                  <li class="nav-item">
                    <a href="/checkout"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #93278F;"></i></a>
                </li>
                </ul>
              </div>
            </div>
          </nav>

        <section>
            <div class="contenidoHero">
                <div class="textHero">
                    <h1>Descubre, agenda y disfruta: Tu música en un solo lugar</h1>
                    <a href="/register"><button type="submit" class="buttonGradient">Conectá tu spotify</button></a>
                </div>
                <div class="recuadroHero">
                    <div class="textoImagen">
                        <p>Tu próximo show es en</p>
                        <h4>3 días</h4>
                    </div>
                    <img src="https://linsock.com.ar/soundstage/public/images/Rectangle_6.png" alt="proximoShow">
                </div>
            </div>
            <div class="imagenFondo">
                <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" alt="imagenFondo">
            </div>
        </section>

    </header>

    <main>
        <section class="porGenero">
            <button class="buttonGradient2">Recitales</button>
            <button class="buttonGradient2">Rock</button>
            <button class="buttonGradient2">Pop</button>
            <button class="buttonGradient2">Teatro</button>
            <button class="buttonGradient2">Internacionales</button>
        </section>
        <section class="showsUltimoMomento">
            <h2>Shows de último momento</h2>
            
            <div class="boxes">
                <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/c74450cca629f0c19a2d7547e1aadf41.jpg" alt="img"></a>
                <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/f11fdfa79739e19515272db005c87b7a.jpg" alt="img"></a>
                <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/960fcb7e3085db27b8976c5b91438b5d.jpg" alt="img"></a>
                <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/2fee57b8a54e493a68702f11bfa3fe05.jpg" alt="img"></a>
                <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e84f02fbfbb8c4abf0f336fd32f0421f.jpg" alt="img"></a>
                <a href="/detail"><p>Ver más</p></a>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Tus artistas favoritos</h2>
            <div class="boxes">
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/00c2e7197dfc1aafc36309f5a6e4dedd.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/2a299d90b3d7964e8e03c21797653e3e.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/4d03f56cf32f49f763410c1ac133da22.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/f6d0a6973319be65f266a8b2c53bacbe.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/a31dd9d87e4bf7c9af22f30524147a81.jpg" alt="img"></a>
              <a href="/detail"><p>Ver más</p></a>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Artistas del momento</h2>
            <div class="boxes">
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/024ba6610204e3ddc91823e624e27684.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/3dbd4582e83f6293725ebeeb9b7ad551.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e3d52338d1b71207996eed1519f82892.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e1688d9714a51f2271b2e840dfcf4e26.jpg" alt="img"></a>
              <a href="/detail" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/7ddf2e1845d10fbbff97c3f8348f1975.jpg" alt="img"></a>
              <a href="/detail"><p>Ver más</p></a>
            </div>
        </section>


    </main>


    <footer class="footer">
      <div class="footer1">
        <h4>Mapa del sitio</h4>
        <a href="/"> Home </a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/registerdata">Register Data</a>
        <a href="/detail">Product</a>
        <a href="/checkout"> Checkout </a>
      </div>
      <div class="footer 2">
        <a
          class="btn btn-primary btn-lg btn-floating"
          style="background-color: #ac2bac; margin: 5% "
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a 
        class="btn btn-primary btn-lg btn-floating" 
        style="background-color: #3b5998; margin: 5%;" 
        href="#!" 
        role="button"
         ><i class="fab fa-facebook-f"></i
        ></a>
        <a 
        class="btn btn-primary btn-lg btn-floating" 
        style="background-color: #0082ca; margin: 5%" 
        href="#!" 
        role="button"
        ><i class="fab fa-linkedin-in"></i
        ></a>
        <a 
        class="btn btn-primary btn-lg btn-floating" 
        style="background-color: #333333; margin: 5% " 
        href="#!" 
        role="button"
        ><i class="fab fa-github"></i
        ></a>

      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
</body>
</html>