<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/head",{ styles: ["checkout", "partials" ,"register" ] }) %>

</head>

<body>

  <div class="header">
    <%- include("partials/header") %>
      <div class="register">
        <div class="textHero">
          <h1>Alta de usuario</h1>
        </div>
        <div class="botonera">
          <form action="/users/save" method="POST" enctype="multipart/form-data">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Usuario" aria-label="user" id="user" name="user">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-user" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            <div class="input-group">
              <input type="mail" class="form-control" placeholder="E-Mail" aria-label="mail" id="mail" name="mail">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nombre" aria-label="fullname" id="fullname" name="fullname">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-signature" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Contraseña" aria-label="password" id="password" name="password">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-key" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            <div class="input-group">
              <input type="TEXT" class="form-control" placeholder="CUIT/CUIL" aria-label="fiscal_value " id="fiscal_value" name="fiscal_value">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-key" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            <div class="input-group">
              <input type="TEXT" class="form-control" placeholder="CBU" aria-label="cbu_alias " id="cbu_alias" name="cbu_alias">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-key" style="color: #ffffff;"></i>
              </button>
            </div>
            <br>
            
            <!-- <div class="input-group"> 
              <input type="file" class="custom-file-input" id="image" name="image">
              <label class="custom-file-label" for="image">Seleccione una foto</label>
            </div>
            <br> -->
              <button type="submit" class="buttonGradient">Enviar</button>

          </form>
        </div>
      </div>
  </div>



  <%- include("partials/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"></script>

</body>

</html>