<footer class="footer mt-auto py-3 bg-dark d-flex align-items-center">
  <div class="container text-center">
    <div class="row custom-row">
      <div class="col tengosed align-self-center">
        <h4 class="titulonavegacion"> Navegacion </h4>
        <a href="/register"><button class="btn btn-link aaaaaaaa" type="button"> Registrate </button></a>
        <a href="/detail"><button class="btn btn-link aaaaaaaa" type="button"> Productos </button></a>
        <a href="/checkout"><button class="btn btn-link aaaaaaaa" type="button"> Checkout </button></a>
        <a href="/login"><button class="btn btn-link aaaaaaaa" type="button"> Login </button></a>
        <a href="/conciertos/edit/1"><button class="btn btn-link aaaaaaaa" type="button"> Edit Concert </button></a>        
      </div>
      
      <div class="col tengohambre align-self-center">
        <h4 class="titulonavegacion2"> Navegacion </h4>
        <a href="/register"><button class="btn btn-link aaaaaaaa" type="button"> Registrate </button></a>
        <a href="/detail"><button class="btn btn-link aaaaaaaa" type="button"> Productos </button></a>
        <a href="/checkout"><button class="btn btn-link aaaaaaaa" type="button"> Checkout </button></a>
        <a href="/login"><button class="btn btn-link aaaaaaaa" type="button"> Login </button></a>
        <a href="/conciertos/edit/1"><button class="btn btn-link aaaaaaaa" type="button"> Edit Concert </button></a>        
      </div>

      <div class="col-md-auto soyobeso align-self-center">
        <a href="/">
          <button class="buttonlogo" type="button">
            <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo" />
          </button>
        </a>        
      </div>

      <div class="col soyobeso align-self-center">
        <p style="color: aliceblue;">© 2023 Soundstage</p>
        <a class="aaaaaaaa" type="button" href=""> <i class="fa-brands fa-facebook"></i> </a>
        <a class="aaaaaaaa" type="button" href=""> <i class="fa-brands fa-instagram"></i> </a>
        <a class="aaaaaaaa" type="button" href=""> <i class="fa-brands fa-reddit-alien"></i> </a>
      </div>
    </div>
  </div>
</footer>


