<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://linsock.com.ar/soundstage/public/images/SoundStage_Logo_degrade_2.svg" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Shows cerca tuyo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artistas del momento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Último momento</a>
          </li>
          <li class="nav-item">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Buscá por artista, lugar o fecha" aria-label="Search">
              <button class="btn btn-outline-light" type="button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </li>
          <li class="nav-item">
              <a href="/login"><i class="fa-solid fa-compact-disc fa-lg" style="color:  #93278F;"></i></a>
          </li>
          <li class="nav-item">
            <a href="/checkout"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #93278F;"></i></a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

<section>
    <div class="contenidoHero">
        <div class="textHero">
            <h1>Descubre, agenda y disfruta: Tu música en un solo lugar</h1>
            <a href="/register"><button type="submit" class="buttonGradient">Conectá tu spotify</button></a>
        </div>
        <div class="recuadroHero">
            <div class="textoImagen">
                <p>Tu próximo show es en</p>
                <h4>3 días</h4>
            </div>
            <img src="https://linsock.com.ar/soundstage/public/images/Rectangle_6.png" alt="proximoShow">
        </div>
    </div>
    <div class="imagenFondo">
        <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" alt="imagenFondo">
    </div>
</section>