<section>
    <div class="contenidoHero">
        <div class="textHero">
            <h1>Descubre, agenda y disfruta: Tu música en un solo lugar</h1>
            <a href="/register"><button type="submit" class="buttonGradient">Conectá tu spotify</button></a>
        </div>
        <div class="recuadroHero">
            <div class="textoImagen">
                <p>Tu próximo show es en</p>
                <h4>3 días</h4>
            </div>
            <img src="https://linsock.com.ar/soundstage/public/images/Rectangle_6.png" alt="proximoShow">
        </div>
    </div>
    <div class="imagenFondo">
        <img src="https://linsock.com.ar/soundstage/public/images/imagen_fondo.jpg" alt="imagenFondo">
    </div>
</section>